@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:ital,wght@1,500&display=swap');



*{
    font-family: 'Nunito',sons-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
*::selection{
    background: #2F4F4F;
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x:hidden ;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

body{
  background: #FFFAF0;
}

header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: #8FBC8F;
}
header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: white;

}

header .logo span{
    color: #2F4F4F;
}


header #menu-bar{
    color: black;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #8FBC8F;
    text-transform: uppercase;
}


header .navbar a{
    color: black;
    font-size: 2rem;
    margin: .8rem;
}
header .navbar a:hover{
    color: #8FBC8F;
}
header .icons i{
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: #8FBC8F;
}
header  #menu-bar:hover{
    color: #8FBC8F;
}


#menu-bar{
    color: #8FBC8F;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}





section{
    margin-top: 10rem;
}


.room1{
display: flex;
flex-wrap: wrap;

align-items: center; 
padding: 2rem 9%; 
  
}
.room1 .image{
    flex: 1 1 50%;
    height: 60vh;
}
.room1 .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.room1 .grd{
    flex: 1 1 50%;
    Padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    height: 60vh;
    background-color:white;
    flex-direction: column; 
}
.room1 .grd h2{
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 0.4rem;
}

.room1 .grd .time{
    display: inline-block;
    padding: .4rem 1rem;
    border: .2rem solid  #8FBC8F;
    font-size: 1.6rem;
    border-radius: 2rem;
    margin-top: 0.4rem;
    background: white;
    color: black;

}
.room1 .grd .pays{
    display: inline-block;
    padding: .4rem 1rem;
    border: .2rem solid  #8FBC8F;
    font-size: 1.6rem;
    border-radius: 2rem;
    margin-top: 0.4rem;
    background: white;
    color: black;

}
.room1 .grd .botton{
    display: inline-block;
    padding: .4rem 1rem;
    border: .3rem solid  #8FBC8F;
    font-size: 1.6rem;
    border-radius: 2rem;
    margin-top: 0.4rem;
    margin-left: 29rem;
    background: #8FBC8F;
    color:white;

}

.room1 .grd h2{
    font-size: 2rem;
    color: #2F4F4F;
    margin-top: 2rem;
}
.room1 .grd p{
    margin-top: 1rem;
}
.room1 .grd li{
    font-size: 1.2rem;
    padding: .5rem 2rem;   
}

.drct{
    padding: 0rem 9%; 
    
    font-size: 1.2rem;
    margin-bottom: 3rem;
    
}
.drct .drct1{
    background: white;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    border-radius: 1rem;
}
.drct .drct1 h2{
    font-size: 2rem;
    color: #2F4F4F;
    margin-top: 2rem;
}
.drct .drct1 p{
    margin-top: 1rem;
}
.drct .drct1 li{
    font-size: 1.2rem;
    padding: .5rem 2rem;
    
}




@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width:991px){
   header{
    padding: 2rem;
   }

}
@media (max-width:768px){
  #menu-bar{
    display: inline;
    border: none;
  }
  header .navbar{
    position: absolute;
    top: 100%;
    right: 0;left: 0;
    background: #fff;
    border-top: .1rem solid #DCDCDC;
    padding: 1rem 2rem;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
  }
  header .navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%) ;
  }
  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding: 2rem;
    margin: 2rem;
    background: #8FBC8F;
  }
  header.active .navbar a{
    color: white;
  }
  header.active .navbar a:hover{
    color: #2F4F4F;
  }
}
@media (max-width:650px){
.room1 .grd{
        flex: 1 1 40rem;
    }
    .room1 .image{
        flex: 1 1 40rem;
    }
    
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    
}