@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:ital,wght@1,500&display=swap');

*{
    font-family: 'Nunito',sons-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
*::selection{
    background: #8FBC8F;
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x:hidden ;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
body{
  background: #FFFAF0 ;
}
header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: white;

}
header .logo span{
    color: #2F4F4F;
}
header #menu-bar{
    color: black;
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #8FBC8F;
    text-transform: uppercase;
}
header .navbar a{
    color: black;
    font-size: 2rem;
    margin: .8rem;
}
header .navbar a:hover{
    color: #8FBC8F;
}
header .icons i{
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: #8FBC8F;
}
header  #menu-bar:hover{
    color: #8FBC8F;
}
header .search-bar-container{
    position: absolute;
    top: 100%;left: 0;right: 0;
    padding: 1.5rem 2rem;
    background-color:#8FBC8F;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}
header .search-bar-container.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%)
}
header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color:#333;
    font-size: 1.7rem;
    border-radius: .5rem;
}
header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
header .search-bar-container label:hover{
    color: #8FBC8F;
}
header .search-bar {
    position: relative;
    width: 200px;
    margin: 0 auto;
} 
header .search-bar input {
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
} 
header .search-bar button {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #fff;
    cursor: pointer;
} 
header .search-bar button i {
    font-size: 18px;
    color: #ccc;
} 
header .search-bar button:hover i {
    color: #000;
}
#menu-bar{
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}
.plat {
    background-color: white; 
    text-align: center;
    padding: 20px;
}
.plat .title{
    margin-bottom: 5px;
    width: 100%;
    height: 25vh;
    margin-top: 50px; 
}
.plat .title h2 {
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 55px;
    margin-bottom: 20px;
    font-family: 'mv boli';
    color: #2F4F4F;
}
.plat .contenu {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
}
.plat .contenu .box {
    border: 2px solid #ccc;
    width: 210px;
    height: 275px; 
    padding: 0; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    border-radius: 20px;
    align-items: center; 
    background-color: #DCDCDC; 
}
.plat .contenu .box:hover {
    background-color: rgba(255, 255, 255, .2); 
    color: white;
    margin-bottom: 50px; 
    transform: scale(1.1); 
}
.plat .contenu .box img {
    width: 210px;
    height: 210px;  
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}
.plat .contenu .box .content {
    text-align: center;
}
.plat .contenu .box .content h1 {
    margin: 10px 0;
    font-size: 18px;
    color:#2F4F4F;
}

@media (max-width: 900px) {
    header{
        padding: 2rem;
    }
}
@media (max-width:768px){
  #menu-bar{
    display: inline;
    border: none;
  }
  header .navbar{
    position: absolute;
    top: 100%;
    right: 0;left: 0;
    background: #fff;
    border-top: .1rem solid #DCDCDC;
    padding: 1rem 2rem;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
  }
  header .navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%) ;
  }
  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding: 2rem;
    margin: 2rem;
    background: #8FBC8F;
  }
  header.active .navbar a{
    color: white;
  }
  header.active .navbar a:hover{
    color: #2F4F4F;
  }
}
